.main-info
	.row
		.col-md-8
			h2 Производство и нанесение декоративной штукатурки
	.row
		.col-md-6
			ul
				li
					span Материал собственного производства
				li
					span Ручное и механизированное нанесение нашими мастерами
				li
					span Бесплатные образцы с вашей фактурой
		.col-md-6
			include ../../views/components/slider