.main-info
	.row
		.col-md-12
			h2 Производство и нанесение декоративной штукатурки
		.col-md-6
			ul
				li Материал собственного производства
				li Ручное и механизированное нанесение нашими мастерами
				li Бесплатные образцы с вашей фактурой
		.col-md-6
			include ../../views/components/slider