.contact-form.info-section
	.row
		.col-md-6
			h3 Получите консультацию специалистов
			p Мы поможем вам подобрать нужное вам решение, не превышая бюджет
		.col-md-6
			form(action='')
				.form-group
					input(type='text').form-control
				.form-group
					input(type='text').form-control
				.form-group
					input(type='text').form-control
				.form-group
					button(type='submit').btn.mt-0.btn-success Запросить консультацию