.how-we-work.info-section
	.row
		.col-md-12
			h3 Как мы работаем
	.row
		.col-md-4.text-center
			img(src='http://sprayplast.ru//images/works/8/1.jpg', alt='')
			h5 Помогаем подобрать решение по внутренней отделке
		.col-md-4.text-center
			img(src='http://sprayplast.ru//images/works/8/1.jpg', alt='')
			h5 Бесплатно предоставляем выкрас 40х50 см
		.col-md-4.text-center
			img(src='http://sprayplast.ru//images/works/8/1.jpg', alt='')
			h5 Согласовываем договор на поставку материала и работы
		.col-md-4.text-center
			img(src='http://sprayplast.ru//images/works/8/1.jpg', alt='')
			h5 Получаем предоплату за материал
		.col-md-4.text-center
			img(src='http://sprayplast.ru//images/works/8/1.jpg', alt='')
			h5 Если необходимо, готовим поверхности к нанесению
		.col-md-4.text-center
			img(src='http://sprayplast.ru//images/works/8/1.jpg', alt='')
			h5 Закрываем плёнкой необрабатываемые поверхности
		.col-md-4.text-center
			img(src='http://sprayplast.ru//images/works/8/1.jpg', alt='')
			h5 Производим работы механизированным или ручным методом
		.col-md-4.text-center
			img(src='http://sprayplast.ru//images/works/8/1.jpg', alt='')
			h5 Убираем за собой, вывозим мусор
		.col-md-4.text-center
			img(src='http://sprayplast.ru//images/works/8/1.jpg', alt='')
			h5 Подписываем Акт выполненных работ и получаем оплату