.materials
	.row.info-section
		.col-md-6
			h2 Отделочные материалы Sprayplast
		.col-md-6
			p Мы применяем собственный опыт нанесения для того, чтобы производить отеделочные материалы высокого качества
	.row
		.col-md-3
			img(src='./img/svg/materials-ico.svg' alt='')
			p Декоративная штукатурка
		.col-md-3
			img(src='./img/svg/materials-ico.svg' alt='')
			p Выравнивающая и финишная шпатлёвка
		.col-md-3
			img(src='./img/svg/materials-ico.svg' alt='')
			p Грунтовка укрывающая
		.col-md-3
			img(src='./img/svg/materials-ico.svg' alt='')
			p Краска