.our-masters.info-section
	.row
		.col-md-7
			.row
				.col-md-9
					h3 Наши мастера по нанесению декоративных покрытий
					h5 Все специалисты прошли обучение в нашем Учебном центре
					p.mb-3.mb-md-0 Наши сотрудники имеют большой опыт нанесения декоративной штукатурки на разного рода объектах: от больших жилых комплексов, до квартир. Каждый сотрудник при выполнении работ применяет корпоративные технологические стандарты и лично отвечает за качество и сроки проведённых работ.
		.col-md-5
			#our-masters.carousel.slide(data-ride='carousel')
				.carousel-inner(role='listbox')
					.carousel-item
						img(src='http://sprayplast.ru//images/works/8/1.jpg', alt='...').d-block.w-100
						.master-name Имя Фамилия
						.master-work-experience Опыт работы в годах
					.carousel-item.active
						img(src='http://sprayplast.ru//images/works/8/2.jpg', alt='...').d-block.w-100
						.master-name Имя Фамилия
						.master-work-experience Опыт работы в годах
					.carousel-item
						img(src='http://sprayplast.ru//images/works/8/3.jpg', alt='...').d-block.w-100
						.master-name Имя Фамилия
						.master-work-experience Опыт работы в годах
					.carousel-item
						img(src='http://sprayplast.ru//images/works/8/4.jpg', alt='...').d-block.w-100
						.master-name Имя Фамилия
						.master-work-experience Опыт работы в годах
					.carousel-item
						img(src='http://sprayplast.ru//images/works/8/5.jpg', alt='...').d-block.w-100
						.master-name Имя Фамилия
						.master-work-experience Опыт работы в годах
					.carousel-item
						img(src='http://sprayplast.ru//images/works/8/6.jpg', alt='...').d-block.w-100
						.master-name Имя Фамилия
						.master-work-experience Опыт работы в годах

				a.carousel-control-prev(href='#our-masters', role='button', data-slide='prev')
					svg.bi.bi-arrow-left(width='42px', viewBox='0 0 24 24', fill='#000', xmlns='http://www.w3.org/2000/svg')
						path(fill-rule='evenodd', d='M5.854 4.646a.5.5 0 0 1 0 .708L3.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z')
						path(fill-rule='evenodd', d='M2.5 8a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z')

				a.carousel-control-next(href='#our-masters', role='button', data-slide='next')
					svg.bi.bi-arrow-right(width='42px', viewBox='0 0 24 24', fill='#000', xmlns='http://www.w3.org/2000/svg')
						path(fill-rule='evenodd', d='M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z')
						path(fill-rule='evenodd', d='M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z')
