.outdoor.info-section
	.row
		.col-md-6
			h3 Решения по отделке фасадов
			h5 Современное решение для наружной отделки
			p Кроме уникального внешнего наша декоративная штукатурка легко выносит даже самую плохую погоду, надолго сохраняя цвет и рисунок фактуры. Ваш дом приобретет не только современный премиальный внешний вид, но и дополнительную защиту.
			a(href='#').btn.btn-action Подобрать решение >