.textures.info-section
	.row
		.col-md-6
			h3 Выберите фактуру декоративной штукатурки
			h5 Мы наносим как трендовые так и уникальные виды фактур
			p Вы можете выбрать такие фактуры, как Арт-бетон, Карта мира, Американка, Травертин, Splash, или мы можем подобрать решение под ваш дизайн.
			a(href='#').btn.btn-action Подобрать фактуру >
		.col-md-6
			.row
				.col-md-4.col-4.p-2
					a(href='#')
						img(src='./img/artbeton.jpg').img-fluid
				.col-md-4.col-4.p-2
					a(href='#')
						img(src='./img/artbeton.jpg').img-fluid
				.col-md-4.col-4.p-2
					a(href='#')
						img(src='./img/artbeton.jpg').img-fluid
				.col-md-4.col-4.p-2
					a(href='#')
						img(src='./img/artbeton.jpg').img-fluid
				.col-md-4.col-4.p-2
					a(href='#')
						img(src='./img/artbeton.jpg').img-fluid
				.col-md-4.col-4.p-2
					a(href='#')
						img(src='./img/artbeton.jpg').img-fluid
				.col-md-4.col-4.p-2
					a(href='#')
						img(src='./img/artbeton.jpg').img-fluid
				.col-md-4.col-4.p-2
					a(href='#')
						img(src='./img/artbeton.jpg').img-fluid
				.col-md-4.col-4.p-2
					a(href='#')
						img(src='./img/artbeton.jpg').img-fluid