.used.info-section
	.row
		.col-md-12
			h3 Где можно применять?
	.row
		.col-md-4.text-center
			img(src='http://sprayplast.ru//images/works/8/6.jpg').img-fluid.w-100
			h5.mt-2.mb-4 Квартиры и коттеджи
		.col-md-4.text-center
			img(src='http://sprayplast.ru//images/works/8/6.jpg').img-fluid.w-100
			h5.mt-2.mb-4 Квартиры и коттеджи
		.col-md-4.text-center
			img(src='http://sprayplast.ru//images/works/8/6.jpg').img-fluid.w-100
			h5.mt-2.mb-4 Квартиры и коттеджи
		.col-md-4.text-center
			img(src='http://sprayplast.ru//images/works/8/6.jpg').img-fluid.w-100
			h5.mt-2.mb-4 Квартиры и коттеджи
		.col-md-4.text-center
			img(src='http://sprayplast.ru//images/works/8/6.jpg').img-fluid.w-100
			h5.mt-2.mb-4 Квартиры и коттеджи
		.col-md-4.text-center
			img(src='http://sprayplast.ru//images/works/8/6.jpg').img-fluid.w-100
			h5 Квартиры и коттеджи