.info-section {
  padding-top: 75px;
  h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  h5 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
  }
  p {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 0;
  }
  .btn {
    margin-top: 55px;
    margin-bottom: 45px;
  }
}