extends ../extends/layout
block variables
	- var title = "Sprayplast"

block content
	include ../includes/header
	main
		.container
			.main-info
				.row
					.col-md-8
						h2 Декоративная штукатурка во внутренней отделке
				.row
					.col-md-6
						ul
							li
								span Премиальный внешний вид
							li
								span Высокая устойчивость покрытия
							li
								span Можно мыть мыльной водой
					.col-md-6
						include ../components/slider
			.indoor.info-section
				.row
					.col-md-6
						h3 Ручное и механизированное нанесение
						p Наши мастера могут наносить декоративную штукатурку механизированно или вручную. Это зависит от ваших пожеланий по дизайну и объёма работ.
							br
							|Мы имеем всё необходимое оборудование и свободные бригады, которые смогут качественно и в срок воплатить ваши идеи во внутренней отделке.
						a(href='#').btn.btn-action Рассчитать и заказать нанесение
					.col-md-6
						img(src='http://sprayplast.ru//images/works/8/6.jpg').img-fluid.w-100
			.indoor.info-section
				.row
					.col-md-6
						h3 Использование собственных материалов
						p Важным нашим преимуществом является использование собственных отделочных материалов. Мы гарантируем высокое качество работ благодаря комплексному решению, включающему подбор или разработу уникальной фактуры, производство и поставку материалов и проведения работ нашими мастерами.
						a(href='#').btn.btn-action.mb-0 Посмотреть материалы
					.col-md-6
						img(src='http://sprayplast.ru//images/works/8/6.jpg').img-fluid.w-100
			include ../sections/used
			.full-slider
				include ../components/slider
			include ../sections/how-we-work
			include ../sections/textures
			include ../sections/our-masters
			include ../sections/contact-form
	include ../includes/footer