.textures-detail
	.row
		.col-md-4
			.info-section.pt-0
				h3.mb-2 Фактура Арт-бетон
				.choose-another Выбрать другую
				p Написать текст про фактуру Арт-бетон. достаточно будет одного-двух обзацев. Написать текст про фактуру Арт-бетон. достаточно будет одного-двух обзацев. Написать текст про фактуру Арт-бетон. достаточно будет одного-двух обзацев.
				.get-good-quality Получить изображения в высоком разрешении
				.object-price от 1150 р/м2
		.col-md-8
			.row
				.col-md-6
					.thumbnail.thumbnail_grid
						img(src='http://sprayplast.ru/images/objects/ee666312060ccdd307f92f5a89e43fbd.jpg', alt='').img-fluid
						.caption.object-content
							h3.object-title Арт-бетон #ab0120
							.d-flex.align-items-center.justify-content-between
								.object-price от 1150 р/м2
								.btn.btn-action Выбрать
				.col-md-6
					.thumbnail.thumbnail_grid
						img(src='http://sprayplast.ru/images/objects/ee666312060ccdd307f92f5a89e43fbd.jpg', alt='').img-fluid
						.caption.object-content
							h3.object-title Арт-бетон #ab0120
							.d-flex.align-items-center.justify-content-between
								.object-price от 1150 р/м2
								.btn.btn-action Выбрать
				.col-md-6
					.thumbnail.thumbnail_grid
						img(src='http://sprayplast.ru/images/objects/ee666312060ccdd307f92f5a89e43fbd.jpg', alt='').img-fluid
						.caption.object-content
							h3.object-title Арт-бетон #ab0120
							.d-flex.align-items-center.justify-content-between
								.object-price от 1150 р/м2
								.btn.btn-action Выбрать
				.col-md-6
					.thumbnail.thumbnail_grid
						img(src='http://sprayplast.ru/images/objects/ee666312060ccdd307f92f5a89e43fbd.jpg', alt='').img-fluid
						.caption.object-content
							h3.object-title Арт-бетон #ab0120
							.d-flex.align-items-center.justify-content-between
								.object-price от 1150 р/м2
								.btn.btn-action Выбрать
				.col-md-6
					.thumbnail.thumbnail_grid
						img(src='http://sprayplast.ru/images/objects/ee666312060ccdd307f92f5a89e43fbd.jpg', alt='').img-fluid
						.caption.object-content
							h3.object-title Арт-бетон #ab0120
							.d-flex.align-items-center.justify-content-between
								.object-price от 1150 р/м2
								.btn.btn-action Выбрать
				.col-md-6
					.thumbnail.thumbnail_grid
						img(src='http://sprayplast.ru/images/objects/ee666312060ccdd307f92f5a89e43fbd.jpg', alt='').img-fluid
						.caption.object-content
							h3.object-title Арт-бетон #ab0120
							.d-flex.align-items-center.justify-content-between
								.object-price от 1150 р/м2
								.btn.btn-action Выбрать