.navbar {
  border-width: 0 0 1px;
  background: #ffffff !important;
  &.fixed-menu {
    box-shadow: 1px 7px 33px -25px #7a7a7a;
    transition: all 0.3s ease;
  }
  .navbar-brand {
    padding: 0;
    margin: 0;
    img {
      height: 30px;
    }
  }
  .nav-link {
    color: #000000;
    &:hover {
      color: #e8231c;
    }
  }
  .phone-info {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
  }
  .get-call {
    color: #000000;
    text-decoration: underline;
    margin-bottom: 5px;
    display: block;
  }
  &-nav li {
    color: #C9C9C9;
  }
  @include adapt_to('desktop'){
    .container {
      position: relative;
    }
    .navbar-toggler {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar-collapse {
      position: absolute;
      width: 100%;
      left: 0;
      top: 100%;
      &::after {
        content: '';
        position: absolute;
        width: 120%;
        height: 100%;
        background: #fff;
        left: -10%;
        top: 0;
        z-index: -1;
      }
    }
    .phone-info {
      font-size: 14px;
      line-height: normal;
    }
    .contact-info {
      margin-right: 60px;
    }
  }
}