@import "libs";
@import "utils/variables";
@import "utils/extends";
@import "utils/mixins";
@import "utils/fonts";
@import "includes/header";
@import "includes/footer";
@import "components/component";
@import "sections/section";
body {
  font-family: $font_main;
  background-color: #f8f8f8;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.indoor, .outdoor {
  margin-bottom: 25px;
}
.full-slider {
  margin-top: 80px;
}