@import "libs";
@import "utils/variables";
@import "utils/extends";
@import "utils/mixins";
@import "utils/fonts";
@import "includes/header";
@import "includes/footer";
@import "components/component";
@import "sections/section";
body {
  font-family: $font_main, Roboto, sans-serif;
}
h3 {
  font-size: 36px;
  line-height: 32px;
  font-family: $font_bold;
  color: $color_txt;
  margin: 0;
  @include adapt_to('large-phone') {
    font-size: 28px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}
.form-control::placeholder {
  color: $color_txt2;
}