footer.footer
  .container
    .row
      .col-md-6
        .copyright Copyright  &copy; 2019 All Rights Reserved.
      .col-md-6.d-flex.justify-content-md-end
        .development Разробка сайта –
          a(href='http://beatom.net/')
            img(src='./img/svg/beatom-logo.svg')