#top
nav.navbar.navbar-expand-lg.navbar-light.fixed-top
  .container
    a.navbar-brand(href='index.html')
      img(src='./img/svg/logo.svg').img-fluid
    #w0-collapse.collapse.navbar-collapse(aria-expanded='false')
      ul.navbar-nav.mx-auto
        li.nav-item.active
          a(href='interior.html').nav-link Внутреннаяя отделка
        li.nav-item
          a.nav-link(href='exterior.html') Отделочные материалы
        li.nav-item
          a.nav-link(href='#') Отделка фасадов
        li.nav-item
          a.nav-link(href='textures.html') Каталог фактур

    ul.navbar-nav.nav.flex-column.contact-info
      li
        a(href='#').phone-info 8 800 550 0680
      li
        a(href='#').get-call заказать звонок
      li работаем без выходных
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#w0-collapse', aria-controls='w0-collapse', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon