#top
nav.navbar.navbar-expand
  .container
    button.navbar-toggler.collapsed(type='button' data-toggle='collapse' data-target='#w0-collapse' aria-expanded='false')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='#top')
      img(src='./img/svg/logo.svg').img-fluid.m-auto
    #w0-collapse.navbar-collapse.collapse(aria-expanded='false')
      ul#w1.navbar-nav.navbar-right.nav
        li.active
          a(href='#') Внутреннаяя отделка
        li
          a(href='#') Отделочные материалы
        li
          a(href='#') Отделка фасадов
        li
          a(href='#') Каталог фактур

    ul.navbar-nav.nav
      li
        a(href='#').phone-info 8 800 550 0680
      li
        a(href='#').get-call заказать звонок
      li работаем без выходных