extends ./extends/layout
block variables
  - var title = "Sprayplast"

block content
  include ./includes/header
  main
    .container
      include ./sections/banner
      include ./sections/indoor
      include ./sections/outdoor
      include ./sections/materials
      include ./sections/textures
      include ./sections/our-masters
      include ./sections/contact-form
  include ./includes/footer