@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('../fonts/RobotoSlab-Regular.eot');
  src: local('../fonts/RobotoSlab-Regular'), local('RobotoSlab-Regular'),
  url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url('../fonts/RobotoSlab-Bold.eot');
  src: local('../fonts/RobotoSlab-Bold'), local('RobotoSlab-Bold'),
  url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}