/* fonts */
$font_main: 'RobotoSlab-Regular';
$font_bold: 'RobotoSlab-Bold';

/* font sizes*/
$size_smaller_font: 10px;
$size_small_font: 12px;
$size_main_font: 14px;
$size_link_font: 24px;
$size_title_font: 20px;
$size_title_description_font: 30px;
$size_title_big_font: 36px;

/* color */
$color_grey: #EAEFF2;
$color_grey2: #C8CED0;
$color_txt: #34383A;
$color_txt2: #8A8F92;
$color_bord: #4D5559;
$color_red: #EE0707;
$color_grey_blue: #77A4C5;
$color_blue: #3FA1E9;
$color_green: #4ECD00;
$color_lighten: #F5F7F9;
$color_orange: #FF6B00;
$color_white: #fff;