#compare-textures.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
	.modal-dialog.compare-textures
		.modal-content
			.modal-body
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
				.compare-list
					.compare-item
						.compare-item__img
							img(src='http://sprayplast.ru/images/objects/ee666312060ccdd307f92f5a89e43fbd.jpg', alt='').img-fluid
						.compare-item__list
							h3.compare-item__name.object-title Арт-бетон #ab0120
							.object-price.mb-3 1150 р/м2
							form(action='#')
								.form-group
									input(type='text' value='300 м2').form-control
								.form-group.form-inline.justify-content-between
									.compare-item__full-price 345 000 р
									button(type='submit').btn.btn-action Заказать
					.compare-item
						.compare-item__img
							img(src='http://sprayplast.ru/images/objects/ee666312060ccdd307f92f5a89e43fbd.jpg', alt='').img-fluid
						.compare-item__list
							h3.compare-item__name.object-title Арт-бетон #ab0120
							.object-price.mb-3 1150 р/м2
							form(action='#')
								.form-group
									input(type='text' value='300 м2').form-control
								.form-group.form-inline.justify-content-between
									.compare-item__full-price 345 000 р
									button(type='submit').btn.btn-action Заказать
